.top-bar,.top-bar ul{
  background-color: $navbar_bg;
  padding: 0px;

}

.top-bar{

  .menu-text{
    color: white;
  }
}

.top-bar  a{
  background-color: inherit;
  border-radius: 2px;
  transition: 0.1s background-color linear;
}

.top-bar  a.active-link{
  font-weight: bold;
  background-color: rgba(255,255,255,0.1);
}

.menu > .menu-text > a{
  display: inline-block;
  padding: 2px;
}
